In [11]:
'''

The following two functions do
Import the txt and merge them 
--
    ‘Merge’ sectorcode with the purpose.csv to bring in the column macro_sector
    ‘Merge’ (donorcode & agencycode) with the donor.csv to bring the columns is_ppd is_wbg
    Collapse sum (USD 5 measure) by (Year, RecipientCountry, macro_sector, is_ppd, is_wbg)

'''


print(__doc__)

import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas

import argparse

import re




def merge_CRStxt_files(ArrayVal):

    
    tempArray = []
    finalMerged = pd.DataFrame()
    
 
    for eachFile in ArrayVal:
        
        tempArray.append(pd.read_table(eachFile, sep = "|", encoding='latin-1', low_memory=False))
        
        
    for pdFiles in tempArray:
        
        finalMerged = pd.concat([pdFiles, finalMerged])
        
    return finalMerged 



def merge_and_collapse(donors_classification, sector_groups, CRS_data, groupbyCols, colsForSummation, mergeON):


    donorsClassification = pandas.read_csv(donors_classification, low_memory=False)

    sectorData = pd.read_csv(sector_groups, low_memory=False)

    sectorData = sectorData.rename(columns= {'mmg_purpose_code':'PurposeCode'})

    mergedFile_donorClass_and_CRSdata = pd.merge(donorsClassification, CRS_data, on = mergeON)
     
    finalMerged = pd.merge(sectorData, mergedFile_donorClass_and_CRSdata, on = ["PurposeCode"])
    
    sumOverTheYears = finalMerged.groupby(groupbyCols, as_index = False)[colsForSummation].sum()
    
    return sumOverTheYears



CRS_Data = merge_CRStxt_files(["CRS 2002-03 data 2.txt", "CRS 2004-05 data.txt", "CRS 2006 data 2.txt","CRS 2007 data.txt", "CRS 2009 data 2.txt",  "CRS 2013 data 2.txt", "CRS 2014 data.txt", "CRS 2015 data.txt", "CRS 2016 data.txt", "CRS 2017 data.txt", "CRS 2018 data.txt",  "CRS 2019 data 2.txt", "CRS 2020 data.txt"])



combinedDataForAnalysis = merge_and_collapse('OECD_CRS_donors_classification_UTF8Aben.csv', "MMG_sector_groups.csv", CRS_Data, ['Year', 'RecipientName', 'macro_sector', 'IsPPD', 'IsWBG'],['USD_Commitment', 'USD_Disbursement', 'USD_Commitment_Defl', 'USD_Disbursement_Defl'], ["DonorCode", "AgencyCode"] )


combinedDataForAnalysis

The following two functions do
Import the txt and merge them
--
    ‘Merge’ sectorcode with the purpose.csv to bring in the column macro_sector
    ‘Merge’ (donorcode & agencycode) with the donor.csv to bring the columns is_ppd is_wbg
    Collapse sum (USD 5 measure) by (Year, RecipientCountry, macro_sector, is_ppd, is_wbg)

,Year,RecipientName,macro_sector,IsPPD,IsWBG,USD_Commitment,USD_Disbursement,USD_Commitment_Defl,USD_Disbursement_Defl
0,2002,"Africa, regional",Other,0,0,1130.905110,0.305344,1706.526806,0.448746
1,2002,Algeria,Industry,0,0,0.000000,0.000000,0.000000,0.000000
2,2002,Algeria,Other,0,0,416.137970,0.000000,633.082526,0.000000
3,2002,"America, regional",Other,0,0,807.140674,157.907916,977.848172,168.990506
4,2002,Angola,Other,0,0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
2873,2020,Georgia,Other,0,0,0.000000,0.000000,0.000000,0.000000
2874,2020,Ghana,Other,0,0,0.000000,0.000000,0.000000,0.000000
2875,2020,Serbia,Industry,0,0,108.262114,0.000000,105.612013,0.000000
2876,2020,Serbia,Other,0,0,0.000000,33.474068,0.000000,32.654672
2877,2020,Sri Lanka,Other,0,0,0.000000,40.000000,0.000000,39.020858

In [12]:
'''
the function below will filter the macroSectors we want to filter out. In this case, I chose to filter Education, Wash, and Health as given by the instruction. 

But I also made it non-manual for anyone to set the macrosector list they want to filter out.

'''
def macroSectorFilter(arrayVal, colsForSummation, groupby):
    
    filteredMacroSectorData = combinedDataForAnalysis[combinedDataForAnalysis.macro_sector.isin(arrayVal)]
    
    sumOverTheYears = filteredMacroSectorData.groupby(groupby, as_index = False)[colsForSummation].sum()


    return sumOverTheYears


    
    
macroSectorFilter(['Health', 'Education', 'Wash'], ['USD_Commitment', 'USD_Disbursement', 'USD_Commitment_Defl', 'USD_Disbursement_Defl'], ['macro_sector', 'IsPPD', 'IsWBG'])

,macro_sector,IsPPD,IsWBG,USD_Commitment,USD_Disbursement,USD_Commitment_Defl,USD_Disbursement_Defl
0,Education,0,0,255.193714,403.031181,271.941681,420.359857
1,Health,0,0,1736.612691,3199.404800,1733.734567,3189.138934
2,Wash,0,0,2443.879344,2058.735288,2307.598800,2050.901400
3,Wash,1,0,0.000000,183.193608,0.000000,196.451496

In [17]:
'''
the function below will filter the macroSectors we want to filter out. In this case, I chose to filter Education, Wash, and Health as given by the instruction. 

But I also made it non-manual for anyone to set the macrosector list they want to filter out.

'''
def macroSectorFilter(arrayVal, colsForSummation, groupby):
    
    filteredMacroSectorData = combinedDataForAnalysis[combinedDataForAnalysis.macro_sector.isin(arrayVal)]
    
    sumOverTheYears = filteredMacroSectorData.groupby(groupby)[colsForSummation].sum()


    return sumOverTheYears


    
    
macroSectorFilter(['Health', 'Education', 'Wash'], ['USD_Commitment', 'USD_Disbursement', 'USD_Commitment_Defl', 'USD_Disbursement_Defl'], ['macro_sector', 'IsPPD', 'IsWBG'])

                          USD_Commitment  USD_Disbursement  \
macro_sector IsPPD IsWBG
Education    0     0          255.193714        403.031181
Health       0     0         1736.612691       3199.404800
Wash         0     0         2443.879344       2058.735288
             1     0            0.000000        183.193608

                          USD_Commitment_Defl  USD_Disbursement_Defl
macro_sector IsPPD IsWBG
Education    0     0               271.941681             420.359857
Health       0     0              1733.734567            3189.138934
Wash         0     0              2307.598800            2050.901400
             1     0                 0.000000             196.451496

In [18]:
macroSectorFilter(['Health', 'Education', 'Wash'], ['USD_Commitment', 'USD_Disbursement', 'USD_Commitment_Defl', 'USD_Disbursement_Defl'], ['macro_sector'])

,USD_Commitment,USD_Disbursement,USD_Commitment_Defl,USD_Disbursement_Defl
macro_sector,,,,
Education,255.193714,403.031181,271.941681,420.359857
Health,1736.612691,3199.404800,1733.734567,3189.138934
Wash,2443.879344,2241.928896,2307.598800,2247.352896

In [19]:
macroSectorFilter(['Health', 'Education', 'Wash'], ['USD_Commitment', 'USD_Disbursement', 'USD_Commitment_Defl', 'USD_Disbursement_Defl'], ['Year', 'macro_sector', 'IsPPD', 'IsWBG'])

                               USD_Commitment  USD_Disbursement  \
Year macro_sector IsPPD IsWBG
2002 Education    0     0            0.000000          0.000000
     Health       0     0            0.000000          0.000000
2003 Education    0     0            0.000000          0.000000
     Health       0     0            0.000000          0.000000
2004 Education    0     0            0.000000          3.861350
     Health       0     0            0.000000         83.329608
     Wash         0     0            0.000000        152.590380
2005 Education    0     0            0.000000          0.000000
     Health       0     0          256.823296         45.600000
2006 Education    0     0            6.250000          7.746998
     Health       0     0            0.000000          0.000000
     Wash         0     0            0.000000          0.000000
2007 Education    0     0            0.000000          0.000000
     Health       0     0            0.000000          0.000000
     Wash         0     0          985.626288        206.054976
2009 Education    0     0            0.000000          0.000000
     Health       0     0            0.000000          0.000000
2013 Education    0     0           50.346139         22.596139
     Health       0     0           28.378160         28.378160
     Wash         0     0          557.620812        479.703828
2014 Education    0     0            0.000000          6.036000
     Health       0     0          143.680000        143.680000
     Wash         0     0          251.543628          0.000000
2015 Education    0     0          151.795320         80.723320
     Health       0     0           90.000000        588.604936
     Wash         0     0            0.000000          0.000000
                  1     0            0.000000        107.057760
2016 Education    0     0           10.737983         55.632840
     Health       0     0           32.740697         32.794209
     Wash         0     0            0.000000        521.906436
                  1     0            0.000000         76.135848
2017 Education    0     0           13.853891         83.853891
     Health       0     0          489.385457        709.322353
     Wash         0     0            0.031236          0.031236
                  1     0            0.000000          0.000000
2018 Education    0     0           16.629666        136.999928
     Health       0     0          527.735585        819.484273
     Wash         0     0            0.000000         22.991052
                  1     0            0.000000          0.000000
2019 Education    0     0            5.580715          5.580715
     Health       0     0          167.869496        748.211261
     Wash         0     0          649.057380        675.457380
                  1     0            0.000000          0.000000

                               USD_Commitment_Defl  USD_Disbursement_Defl
Year macro_sector IsPPD IsWBG
2002 Education    0     0                 0.000000               0.000000
     Health       0     0                 0.000000               0.000000
2003 Education    0     0                 0.000000               0.000000
     Health       0     0                 0.000000               0.000000
2004 Education    0     0                 0.000000               4.554424
     Health       0     0                 0.000000              98.286456
     Wash         0     0                 0.000000             179.978856
2005 Education    0     0                 0.000000               0.000000
     Health       0     0               295.255472              52.354760
2006 Education    0     0                 7.790425               9.676181
     Health       0     0                 0.000000               0.000000
     Wash         0     0                 0.000000               0.000000
2007 Education    0     0                 0.000000               0.000000
     Health       0     0                 0.000000               0.000000
     Wash         0     0               930.907428             194.615460
2009 Education    0     0                 0.000000               0.000000
     Health       0     0                 0.000000               0.000000
2013 Education    0     0                55.438786              24.822581
     Health       0     0                28.808208              28.808208
     Wash         0     0               505.952052             435.254796
2014 Education    0     0                 0.000000               6.538453
     Health       0     0               139.056584             139.056584
     Wash         0     0               221.649900               0.000000
2015 Education    0     0               162.792043              86.529825
     Health       0     0                96.572480             617.856282
     Wash         0     0                 0.000000               0.000000
                  1     0                 0.000000             115.287492
2016 Education    0     0                10.969243              58.643301
     Health       0     0                33.185582              33.239822
     Wash         0     0                 0.000000             543.389628
                  1     0                 0.000000              81.164004
2017 Education    0     0                13.248736              86.209036
     Health       0     0               479.332324             699.068932
     Wash         0     0                 0.032040               0.032040
                  1     0                 0.000000               0.000000
2018 Education    0     0                16.121733             137.805341
     Health       0     0               493.654421             772.256629
     Wash         0     0                 0.000000              22.173240
                  1     0                 0.000000               0.000000
2019 Education    0     0                 5.580715               5.580715
     Health       0     0               167.869496             748.211261
     Wash         0     0               649.057380             675.457380
                  1     0                 0.000000               0.000000